* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

:root{
  --Orange: #D2872C;
  --Gray: #766F68;
}

body {
  width: 100%;
  height: auto;
}

/* ====== LAYOUT MOBILE ===== */

/* HEADER */

.navbar-desktop{
  display:none;
}

#header{
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
}

#logo h1{
  color: var(--Orange);
}

#logo h1, 
.menu-toggle{
  font-size: 1.5rem;
}

/* section-1  */

#section-1{
  display: flex;
  padding: 0 2rem;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

.imagem{
  width: 100%;
}

.imagem img{
  width: 100%;
}

.container-content{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.title h1{
  color: var(--Gray);
  font-weight: bold;
  font-size: 2.4rem;
  text-align: center;
}

.subtitle h2{
  color: var(--Gray);
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}

#start{
  color: white;
  width: 100%;
  padding: 1rem 3rem;
  border-radius: 1.2rem;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: var(--Orange);
  border: none;
}

/* ====== LAYOUT DESKTOP ===== */


@media (min-width: 768px) {
/* HEADER */

#header{
  display: flex;
  padding: 2rem 2.5rem;
  justify-content: space-between;
  align-items: center;
}

/* logo */
#logo h1, 
.menu-toggle{
  font-size: 2rem;
}

/* navbar */
.navbar-desktop{
  display: block;
}

.navbar-desktop ul{
  display: flex;
  align-items: center;
  column-gap: 2rem;

}

.navbar-desktop ul li{
  display: block;
  font-size: 1rem;
}

.menu-toggle{
  display: none;
}

/* section-1  */

#section-1{
  display: flex;
  padding: 3rem ;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.container-content{
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 4rem;
  z-index: 2;
}

.title h1{
  font-size: 2.3rem;
  text-align: left;
}

.subtitle h2 {
  text-align: left;
  font-size: 1.2rem;
}

#start{
  color: white;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 1.2rem;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: var(--Orange);
  border: none;
}
}

@media (min-width: 1024px) {  
  /* logo */
  #logo h1, 
  .menu-toggle{
    font-size: 2.5rem;
  }
  
  .navbar-desktop ul li{
    display: block;
    font-size: 1.2rem;
  }

  .navbar-desktop ul li:hover{
    color: white;
    background-color: orange;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
  }
    
  /* section-1  */
  
  
  .container-content{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 4rem;
    z-index: 2;
  }
  
  .title h1{
    font-size: 3.5rem;
    text-align: left;
  }
  
  .subtitle h2 {
    text-align: left;
    width: 21rem;
    font-size: 1.45rem;
  }
  
  #start{
    color: white;
    width: 62%;
    padding: 1rem 2rem;
    border-radius: 1.2rem;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: var(--Orange);
    border: none;
  }

  #start:hover{
    width: 65%;
    background-color: green;
    cursor: pointer;
  }
  }